.post-wrapper {
    padding: 5px;
    margin-bottom: 15px;
    margin-top: 15px;
    background-color: #CDC5BB;
    border-left: 1px solid #BAA68E;
    border-right: 1px solid #BAA68E;
}

.error {
    color: #ff1400;
    font-size: 15px;
}

.site-wrapper {
    left: 50%;
    margin-left: -450px;
    padding-left: 15px;
    padding-right: 15px;
    position: absolute;
    width: 900px;
    height: 100%;
    background-color: #F5EDE3;
    border-left: 1px solid #BAA68E;
    border-right: 1px solid #BAA68E;
}





